body {
    text-align: center;
    background-color: #f8faf3;
}

.pizza-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    background-color: #f8d898;
    padding: 20px;
}

.pizza {
    cursor: pointer;
    text-align: center;
}

.pizza img {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    transition: transform 0.5s ease-in-out;
}

.modal-content img {
    width: 200px;
    height: 200px;
    transition: transform 0.5s ease-in-out;
}

.rotate {
    transform: rotate(360deg);
}



